.btn{
    font-weight: 100;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px;
    margin-top: 6px;
}
.default:hover{
    background-color: #817d7d;
}
.default:focus{
    background-color: #817d7d;
}
.default {
    color: black;
    background: #cfcbcb;
}
.outline{
    border-style:solid;
    border-color: #2962ff;
    color: #2962ff;
    background-color: white;
}
.outline:hover{
    background-color: rgb(231, 231, 253);
}
.outline:focus{
    background-color: rgb(231, 231, 253);
}
.text{
    border: none;
    color: #2962ff;
    background-color: unset;
}
.text:hover{
    background-color: rgb(231, 231, 253);
}
.text:focus{
    background-color: rgb(231, 231, 253);
}
.disableShadow{
    background-color: #2962ff;
    color: white;
}
.disableShadow:hover{
    background-color: #2962ff;
}
.disableShadow:focus{
    background-color: #2962ff;
}

.disable{
    background-color: #e0e0e0;
}
.default.disable:hover {
    background-color: #e0e0e0;
}
  
.text.disable:hover {
    color: black;
}
.default.disable:focus {
    background-color: #e0e0e0;
}
  
.text.disable:focus {
    background: rgb(231, 231, 253)
}

.primary{
    background-color: #2962ff;
    color: white;
}

.secondary {
    background-color: #455a64;
    color: white;
}

.danger {
  background-color: #d32f2f;
  color: white;
}
.sm {
    font-size: 12px;
    padding: 6px 12px;
}
.lg {
    font-size: 1.25rem;
    padding: 11px 22px;
}
.md {
    font-size: 16px;
    padding: 8px 16px;
  }