.App {
  font-family: Arial, sans-serif;
  margin: 50px;
}
.container{
display: flex;
flex-direction: row;
}
h4{
  color: gray;
}
p{
 font-size: small;
 margin: 0px;
}
.buttons {
  display:block;
  margin-right: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
